{% load static %}
{% include "template_data_page.html" with 
    form=form0 
    formname="form0"
    name="stock0"
    deleteGraph="stock0-deleteGraph"
    addGraph="stock0-addGraph"
    search_box="stock0-search_box"
    button_and_graph="stock0-button_and_graph"
    tooltip="stock0-tooltip"
    range_buttons="stock0-range_buttons"
    1Day="stock0-1Day"
    5Days="stock0-5Days"
    1Month="stock0-1Month"
    6Months="stock0-6Months"
    YearToDate="stock0-YearToDate"
    1Year="stock0-1Year"
    5Years="stock0-5Years"
    Max="stock0-Max"
    line_graph="stock0-line_graph"
    loading_graph="stock0-loading_graph"
    loading_words="stock0-loading_words"
%}
<script src= "{% static '\data_page.js' %}"></script>

