{% load static %}
{% load customTags %}



<body>
    <div id = 'banner'>
        <button id ="addGraphButton" onclick= 'addGraph(this)'>Add New Stock</button>
    </div>
    {% createGraph form0 "0" %}
    {% createGraph form1 "1" %}
</body>

<script src= "{% static '\data_page.js' %}"></script>

<style>
    body{
        background-color: #A1D6E2;
        padding-top: 20px;
        margin:0;
        padding:0;
    }
    #banner{
        background-color: #1995AD;
        width: 100%;
        height: 40px;
    }

    #addGraphButton{
            width: 150px;
            height: 25px;
            left: 20; 
            font-size: 17;
            top: 7;
            border-color: transparent;
            position: absolute; 
            background-color: green;
            display: inline-block
    }
</style>