{% load static %}
<!-- {% include "template_data_page.html" with 
    form=form0 
    name="stock0"
    search_box="stock0-search_box"
    button_and_graph="stock0-button_and_graph"
    tooltip="stock0-tooltip"
    range_buttons="stock0-range_buttons"
    1Day="stock0-1Day"
    5Days="stock0-5Days"
    1Month="stock0-1Month"
    6Months="stock0-6Months"
    YearToDate="stock0-YearToDate"
    1Year="stock0-1Year"
    5Years="stock0-5Years"
    Max="stock0-Max"
    line_graph="stock0-line_graph"
    loading_graph="stock0-loading_graph"
    loading_words="stock0-loading_words"
%} -->

<!-- {% include "template_data_page.html" with 
    form=form1
    name="stock1"
    search_box="stock1-search_box"
    button_and_graph="stock1-button_and_graph"
    tooltip="stock1-tooltip"
    range_buttons="stock1-range_buttons"
    1Day="stock1-1Day"
    5Days="stock1-5Days"
    1Month="stock1-1Month"
    6Months="stock1-6Months"
    YearToDate="stock1-YearToDate"
    1Year="stock1-1Year"
    5Years="stock1-5Years"
    Max="stock1-Max"
    line_graph="stock1-line_graph"
    loading_graph="stock1-loading_graph"
    loading_words="stock1-loading_words"
%} -->

{% include "template_data_page.html" with 
    form=form2
    name="stock2"
    search_box="stock2-search_box"
    button_and_graph="stock2-button_and_graph"
    tooltip="stock2-tooltip"
    range_buttons="stock2-range_buttons"
    1Day="stock2-1Day"
    5Days="stock2-5Days"
    1Month="stock2-1Month"
    6Months="stock2-6Months"
    YearToDate="stock2-YearToDate"
    1Year="stock2-1Year"
    5Years="stock2-5Years"
    Max="stock2-Max"
    line_graph="stock2-line_graph"
    loading_graph="stock2-loading_graph"
    loading_words="stock2-loading_words"
%}

<script src= "{% static '\data_page.js' %}"></script>

