<body>
    <div id="background-container">
        <!-- Content can go here if needed -->
    </div>
</body>

<div class="my-box">
</div>

<form method="post" autocomplete="off">
    {%csrf_token%}
    {{form}}
</form>

<!-- styles relating to forms are directly written in their form class -->

<style>
    .my-box {
        width: 740px; 
        height: 75px; 
        background-color: white; 
        border: 2px solid gray; 
        top: 49.5%;
        left: 49.5%;
        margin-left: -369px;
        margin-top: -37.5px;
        position: absolute; 
        border-radius: 100px;
    }

    body{
        background-color: pink;
    }
</style>
