<div id = {{name}} style = "
        position: relative;
        /* width: 1080px; */
        width: auto;
        height: 363;
        max-height: 1480px;
        min-height: 200px;
        resize: vertical;
        aspect-ratio: 1260 / 502;
        overflow: hidden;
        ">
    <div id = '{{search_box}}' style = "
            display: flex;
            width: 100%;
            height: 31.5;
            min-width: 0%;
            min-height: 4%;
            margin-top: 0; 
            left: 12px;
            position: relative;
            overflow: visible;
            "> 
        <div style="display:flex; align-items: center; position: relative; left: 25%; width: auto; white-space: nowrap; z-index: 1;">
            <button onclick= 'rangeClicked(this, "{{ticker_name}}" )' id="{{1Day}}" >1D</button>
        </div>
        <div style="display:flex; align-items: center; position: relative; left: 25%; width: auto; white-space: nowrap; z-index: 1;">
            <button onclick= 'rangeClicked(this, "{{ticker_name}}" )' id="{{5Days}}" >7D</button>
        </div>
        <div style="display:flex; align-items: center; position: relative; left: 25%; width: auto; white-space: nowrap; z-index: 1;">
            <button onclick= 'rangeClicked(this, "{{ticker_name}}" )' id="{{1Month}}" >1M</button>
        </div>
        <div style="display:flex; align-items: center; position: relative; left: 25%; width: auto; white-space: nowrap; z-index: 1;">
            <button onclick= 'rangeClicked(this, "{{ticker_name}}" )' id="{{6Months}}" >6M</button>
        </div>
        <div style="display:flex; align-items: center; position: relative; left: 25%; width: auto; white-space: nowrap; z-index: 1;">
            <button onclick= 'rangeClicked(this, "{{ticker_name}}" )' id="{{YearToDate}}" >YTD</button>
        </div>
        <div style="display:flex; align-items: center; position: relative; left: 25%; width: auto; white-space: nowrap; z-index: 1;">
            <button onclick= 'rangeClicked(this, "{{ticker_name}}" )' id="{{1Year}}">1Y</button>
        </div>
        <div style="display:flex; align-items: center; position: relative; left: 25%; width: auto; white-space: nowrap; z-index: 1;">
            <button onclick= 'rangeClicked(this, "{{ticker_name}}" )' id="{{5Years}}">5Y</button>
        </div>
        <div style="display:flex; align-items: center; position: relative; left: 25%; width: auto; white-space: nowrap; z-index: 1;">
            <button onclick= 'rangeClicked(this, "{{ticker_name}}" )' id="{{Max}}">Max</button>
        </div>
        <button id="{{hideGraph}}" onclick= 'hideGraph(this)' style="
            background-image: url('/static/delete.jpg');
            background-size: cover;  
            background-position: center; 
            overflow: hidden;
            background-repeat: no-repeat; 
            width: 33px;
            height: 33px;
            border-radius: 100%;
            margin: 0; 
            padding: 0;
            top: 5%;
            left: 18%;
            position: absolute; 
            background-color: 
            transparent;
            display: inline-block;
            z-index: 1;"
            >
        </button>
        <div class="search_box_background" style = "
            width: 15%; 
            height: 100%; 
            margin-left: 10px;
            background-color: white; 
            border: 2px solid gray; 
            position: absolute; 
            border-radius: 100px;
            overflow-y: auto;
            z-index: 1;">
        </div>
        <form method="post" autocomplete="off" spellcheck = 'false' style = "width: 100px; z-index: 1;">
            {%csrf_token%} 
            {{form.ticker}}
            <button name="{{formname}}" style = "display: none; z-index: 1"></button>
        </form>
    </div>
    <div id = {{line_graph}} style = "
        top: 0px;
        left: 0px;
        min-width: 100px;
        height: 100%;
        max-height: 1480px;
        width: auto;
        color: red;
        position: absolute;
        /* resize: vertical; */
        overflow: visible;
        ">
        <div id = {{loading_graph}} style = "
            background-color: black;
            width: 1120;
            height: 390;
            left: 40px;
            position: absolute;
            text-align: center;
            vertical-align: middle;
            line-height: 400px; 
            display: inline;
            ">   
            <h1 id = "{{loading_words}}" style = "color: white;" >  Loading ... {{ticker_name}} ...  </h1>
        </div>
    </div>
</div>

<style>

    rect {
        pointer-events: all;
        fill-opacity: 0;
        stroke-opacity: 0;
        z-index: 10;
    }

    .tooltip {
        position: absolute;
        pointer-events: none;
        padding: 10px;
        background-color: steelblue;
        color: white;
        border: 1px solid white;
        border-radius: 10px;
        display: none;
        opacity: .75;
        z-index: 10;
    }

</style>
