{% load static %}

<body> 
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src= "{% static 'visualize.js' %}"></script>
    <h1> hello </h1>
    
</body>

<div class="header_background">
    <form method="post" autocomplete="off">
        <div class="search_box_background"></div>
        {%csrf_token%} 
        {{form}}
    </form>
</div>

<!-- styles relating to forms are directly written in their form class -->
 
<style>
    .search_box_background {
        width: 350px; 
        height: 30px; 
        margin-left: 10px;
        background-color: white; 
        border: 2px solid gray; 
        position: absolute; 
        border-radius: 100px;
        overflow-y: auto;

        
    }
    .header_background {
        height: 40px; 
        padding-top: 10px;
        background-color: rgba(233, 182, 221, 1);
        position: sticky;
        top: 0;

    }
    body{
        background-color: pink;
        padding-top: 20px;
        margin:0;
        padding:0;

    }
</style>
